<div class="row" *ngIf="usuarios.length || medicos.length || hospitales.length ; else esperandoBusqueda ">


  <div class="col-6" *ngIf="usuarios.length">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Usuarios</h4>

        <table class="table table-hover">
          <tbody>
            <tr *ngFor='let usuario of usuarios' [routerLink]="['/usuarios']" class="pointer">
              <td>
                  <img [src]="usuario.img | imagen: 'usuarios'" class="img-50">
              </td>
              <td>{{ usuario.nombre }}</td>
             
            </tr>
          </tbody>
        </table>
  
        
  
      </div>
    </div>
  </div>
  

    <div class="col-6" *ngIf="medicos.length">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Medicos</h4>

          <table class="table table-hover">
            <tbody>
              <tr *ngFor='let medico of medicos' [routerLink]="['/medico',medico._id]" class="pointer">
                <td>
                    <img [src]="medico.img | imagen: 'medicos'" class="img-50" >
                </td>
                <td>{{ medico.nombre }}</td>
           
              </tr>
            </tbody>
          </table>
    
          
    
        </div>
      </div>
    </div>
  


    <div class="col-6" *ngIf="hospitales.length">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Hospitales</h4>

          <table class="table table-hover">
            <tbody>
              <tr *ngFor='let hospital of hospitales' [routerLink]="['/hospitales']" class="pointer">
                <td>

                    <img [src]="hospital.img | imagen: 'hospitales'" class="img-50">
                </td>
                <td>{{ hospital.nombre }}</td>
              
              </tr>
            </tbody>
          </table>
    
          
    
        </div>
      </div>
    </div>

</div>



<ng-template #esperandoBusqueda>
  <div class="row">


    <div class="col-lg-12 text-center">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
        
              <p>No se encontro ninguno resultado</p>
        
            </div>
          </div>
        </div>
    </div>
  </div>


</ng-template>
