<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Paciente Nuevo</h4>
          </div>
          <div class="card-body">
              <form autocomplete="off" [formGroup]="forma" (ngSubmit)="crearPaciente()">
                  <div class="form-body">
                      <h3 class="card-title">Datos Personales</h3>
                      <hr>
                      <div class="row p-t-20">
                          <div class="col-md-6">
                              <div [class]="nombres.invalid && (nombres.dirty || nombres.touched)  ? nombresValidado.has_danger:'form-group'">
                                  <label class="control-label">Nombres</label>
                              <input  formControlName="nombres"   name="nombres" required type="text" id="nombre" class="form-control {{ nombresValidado.form_control_danger }}">
                                  <small *ngIf="nombres.invalid && (nombres.dirty || nombres.touched) "  class="form-control-feedback">{{nombresValidado.msj}}</small> 
                                </div>
                          </div>
                          <!--/span-->
                          <div class="col-md-6">
                  
                              <div [class]="apellidos.invalid && (apellidos.dirty || apellidos.touched)  ? apellidosValidado.has_danger:'form-group'">
                                  <label class="control-label">Apellidos</label>
                
                                  <input formControlName="apellidos"   name="apellido"  type="text" required id="apellido" class="form-control {{ apellidosValidado.form_control_danger }}">
                                  <small *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="form-control-feedback"> {{apellidosValidado.msj}} </small> 
                                </div> 
                          </div>
                          <!--/span-->

                          
                      </div>
                      <!--/row-->
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Sexo</label>
                                <select formControlName="sexo"  name="sexo"  class="form-control custom-select" >
                                    <option value="0">Seleccione</option>
                                    <option value="f">Femenino</option>
                                    <option value="m">Masculino</option>
                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div [class]="fecha_nacimiento.invalid && (!fecha_nacimiento.pristine )  ? fechaNacimientoValidado.has_danger:'form-group'">
                                <label class="control-label">Fecha de nacimiento</label>
                              
                                    <input #inputFecha  formControlName="fecha_nacimiento"  name="fecha_nacimiento"  type="text" class="form-control fecha_form" id="datepicker-autoclose" placeholder="mm/dd/yyyy">
                                    <small *ngIf="fecha_nacimiento.invalid && (!fecha_nacimiento.pristine)" class="form-control-feedback"> {{fechaNacimientoValidado.msj}} </small> 
                             
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Estado Civil</label>
                                <select formControlName="ec"  name="ec"  class="form-control custom-select" >
                                    <option [value]="0">Seleccione</option>
                                    <option value="c">Casado</option>
                                    <option value="s">Soltero</option>
                                    <option value="v">Viudo</option>
                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div [class]="rut.invalid && (rut.dirty || rut.touched)  ? rutValidado.has_danger:'form-group'">
                                <label class="control-label">Rut</label>
                                <input formControlName="rut"   required type="text" id="rut" class="form-control">
                                <small *ngIf="rut.invalid && (rut.dirty || rut.touched)" class="form-control-feedback"> {{rutValidado.msj}} </small> 
                            </div> 
                        </div>
               
                      </div>
                      <!--/row-->
                      <div class="row">

                        

                        <div class="col-md-6">
                            <div [class]="telefono.invalid && (telefono.dirty || telefono.touched)  ? telefonoValidado.has_danger:'form-group'">
                                <label class="control-label">Telefono</label>
                                <input formControlName="telefono"  required type="text" id="telefono" class="form-control">
                                <small *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="form-control-feedback"> {{telefonoValidado.msj}} </small> 
                            </div> 
                        </div>

                        <div class="col-md-6">
                            <div [class]="correo.invalid && (correo.dirty || correo.touched)  ? correoValidado.has_danger:'form-group'">
                                <label class="control-label">Email</label>
                                <input formControlName="correo"  required type="email" id="correo" name ="correo" class="form-control">
                                <small *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="form-control-feedback"> {{correoValidado.msj}} </small> 
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Enfermedades</label>
                 
                                <select #selectEnfermedad id ="patologias" class="form-control select2 m-b-10 select2-multiple" style="width: 100%" multiple="multiple">
            
                                    <optgroup label="{{patologia.nombre}}" *ngFor='let patologia of patologias'>
                                        <option value="{{enfermedad._id}}" *ngFor='let enfermedad of patologia.enfermedad'>
                                            {{enfermedad.nombre}}
                                        </option>
                                    </optgroup>
                                
                                </select>
  
                            </div> 
                        </div>
      
                      </div>
                 
                 
                      
                  </div>
                  <div>
                    <hr> 
                    </div>
                  <div class="button-group">
                      <button type="submit" class="btn btn-success" > <i class="fa fa-check"></i> Guardar</button>
                      <button [routerLink]="['/pacientes']" type="button" class="btn btn-inverse"><i class="fa fa-mail-reply"></i> Volver</button>
                  </div>
 
              </form>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
        <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Foto del Paciente</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <div align="center" class="m-t-40"> 
                    
    
                    <img *ngIf="!imagenTemp" [src]="paciente.img || 'xxx' | imagen: 'pacientes'" class="img-circle" width="200">
                    <img *ngIf="imagenTemp" [src]="imagenTemp" class="img-circle" width="250">
                     <h4 class="card-title m-t-10">{{ paciente.nombres }}</h4>
                    
                    
                    <div class="row text-center justify-content-md-center">
                        
                        <label class="custom-file d-block">
                            <input (change)= "seleccionImagen( $event.target.files[0] )" type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                        </label>
                    </div>
    
                </div>
            </div>
        
        </div>

    </div>
</div>
</div>