
<div class="row" id="wizard" >
  <div class="col-12">
      <div class="card wizard-content">
          <div class="card-body">
              
              
              
                <div   class="tab-wizard wizard-circle">
                    <!-- Step 1 -->
                    <h6>Datos personales</h6>
                    <section></section>
                    <!-- Step 2 -->
                    <h6>Seleción de Médico</h6>
                    <section></section>
                    <!-- Step 3 -->
                    <h6>Seleción de Horario</h6>
                    <section></section>
                    
                    
                  </div>
            
              
            
              
          </div>
      </div>
  </div>
</div>